.app-container {
    /*hepsini kapsayan*/
    width: 100vw;
    height: auto;
    background: #f4f4f4;
    transition: 0.3s;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
}

.ellipse-10 {
    position: absolute;
    left: 29.23%;
}

.rectangle-18 {
    position: absolute;
    top: 80%;
    right: 0;
}

.ellipse-11 {
    position: absolute;
    left: 68%;
    top: 37.5rem;
    z-index: 1;
}

.app-container.dark {
    background-color: black;
    color: white;
}

.header {
    display: flex;
    justify-content: flex-end;
    height: 1.12rem;
    gap: 2rem;
    padding-top: 2rem;
    padding-right: 9rem;
}

label {
    /* Toggle ikonu*/
    width: 3.44rem;
    height: 1.5rem;
    position: relative;
    display: flex;
    background: #e92577;
    opacity: 0.77;
    border-radius: 12.5rem;
    cursor: pointer;
    transition: 0.3s;
}

label:after {
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    background: #ffe86e;
    border-radius: 11.25rem;
    transition: 0.3s;
}

input {
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked+label {
    background: #242424;
}

input:checked+label:after {
    left: 3.18rem;
    transform: translateX(-100%);
    background: #3a3a3a;
}

label:active:after {
    width: 26px;
}

.darkMode {
    height: 1.63rem;
    display: flex;
    gap: 0.5rem;
}

.darkModeText,
.divider {
    height: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #777777;
}

.language {
    display: flex;
    align-items: end;
    height: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #777777;
}


.def-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    gap: 3rem;
}

.paragraph {
    position: relative;
    width: 40rem;
    font-family: "Inter", sans-serif;
    font-size: 2.62rem;
    font-weight: 500;
    z-index: 10;
}

.rectangle-2 {
    position: absolute;
    left: -1.5rem;
    top: 6.2rem;
    z-index: -1;
}


.social-media {
    display: flex;
    gap: 1rem;
    height: 35px;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.e-mail {
    padding-bottom: 4rem;
    padding-top: .5rem;
    width: 28.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1.12rem;
    font-weight: 400;
}